ion-button {
  color: white;
  font-weight: bold;
  font-size: 30pt;
  height: 50px;
  width: 120px;
  --border-radius: 50px;
  --background: #522a9e;
  padding: 0pt 30pt 0pt 35pt;
}

@media only screen and (max-width: 768px) {
  ion-button {
    color: white;
    font-weight: bold;
    font-size: 16pt;
    padding: 0pt;
    --border-radius: 50px;
    --background: #522a9e;
    --ion-color-btn: red;
    height: 45px;
    width: 60px;
  }
}

@media screen and (orientation: landscape) {
  ion-button {
    color: white;
    font-weight: bold;
    font-size: 30pt;
    height: 50px;
    width: 120px;
    --border-radius: 50px;
    --background: #522a9e;
    padding: 0pt pt 0pt 3pt;
  }
}
