@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 20;
  padding: 20;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 600px) {
  body {
    display: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(95, 55, 187);
    background-image: rgb(95, 55, 187);
    --border-radius: 100px;
  }
}
